*.a
*.app
*.class
*.dll
*.dylib
*.dylib.*
*.exe
*.gcda
*.gcno
*.gcov
*.ko
*.la
*.lib
*.lo
*.log
*.o
*.o-*
*.out
*.pyc
*.so
*.so.*
*.swp
*.trs
.DS_Store
.deps
.dirstamp
.idea
.libs
.vagrant
/*.njson
/.ninja_deps
/.ninja_log
/.objects
/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/GeoIP.dat
/GeoIPASNum.dat
/GeoLite2-ASN.tar.gz
/GeoLite2-Country.tar.gz
/MK_BUILD/
/MK_DIST/
/android-curl-*.tar.gz
/android-geoip-api-c-*.tar.gz
/android-libevent-*.tar.gz
/android-libmaxminddb-*.tar.gz
/android-libressl-*.tar.gz
/asn.mmdb
/build.ninja
/build/android/jni/conf
/build/android/jni/spec
/citizenlab-test-lists.*.csv
/cmake_install.cmake
/country.mmdb
/include.am
/jni/Android.mk
/maxmind-geoip.*.dat*
/measurement_kit
/obj/
/test-driver
/tmp
/tor-bridges.tor-bridges-ip-port.csv
/venv
Makefile
Makefile.in
__venv__
aclocal.m4
autom4te.cache/
builtin/
compile
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
m4/*.m4
missing
node_modules/
orchestrator_dummy.json
orchestrator_secrets.json
orchestrator_secrets_*.json
site
src/libmeasurement_kit/ext/Catch/
src/libmeasurement_kit/ext/http-parser/
stamp-h1
xx
